<nav style="margin-top:10px;--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" style="text-decoration: none">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Filmes</li>
  </ol>
</nav>

<div class="row g-3">

  <div class="col-xs-12">
    <label>Tipo de Pesquisa</label>
    <br/>

      <div class="form-check form-check-inline">
        <input (click)="getTypeFilter(1)" checked class="form-check-input" type="radio" name="typeFilter" id="typeFilter1" value="1">
        <label class="form-check-label" for="inlineRadio1">Título</label>
      </div>
      <div class="form-check form-check-inline">
        <input (click)="getTypeFilter(2)" class="form-check-input" type="radio" name="typeFilter" id="typeFilter2" value="2">
        <label class="form-check-label" for="inlineRadio2">Ano e Gênero</label>
      </div>
      <div class="form-check form-check-inline">
        <input (click)="getTypeFilter(3)" class="form-check-input" type="radio" name="typeFilter" id="typeFilter3" value="3">
        <label class="form-check-label" for="inlineRadio2">Classificação por Avaliação</label>
      </div>

      <div class="row" style="margin-top:20px;">
          <div *ngIf="movie.typeFilter == 2"  class="col-4">
            <select  [(ngModel)]="movie.yearFilter" name="yearFilterSelect" id="yearFilterSelect" class="form-select">
              <option  *ngFor="let year of years" value="{{ year }}">{{ year }}</option>
            </select>
        </div>
        <div *ngIf="movie.typeFilter == 1 || movie.typeFilter == 2" [ngClass]="{'col-12': movie.typeFilter==1,'col-8': movie.typeFilter==2}">
          <div class="input-group mb-3">
            <input [(ngModel)]="movie.title" id="title" name="title" type="text" class="form-control" placeholder="Pesquisar:" aria-label="Pesquisar:" aria-describedby="button-addon2">
            <button (click)="searchMovies()" class="btn btn-outline-info" type="button" id="btn-filter">Pesquisar</button>
          </div>
        </div>

        <div *ngIf="movie.typeFilter == 3" class="col-3">
          <label for="partNumber" class="form-label">Avaliação</label>
            <div class="input-group mb-3">
              <input [(ngModel)]="movie.rating" type="number" min="1" max="5" class="form-control" id="rating" name="rating">
              <button (click)="searchMovies()" class="btn btn-outline-info" type="button" id="btn-filter">Pesquisar</button>
          </div>
        </div>

      </div>

  </div>

  <div *ngIf="movies.length > 0 else notMovie" class="col-12">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Descrição</th>
          <th scope="col">Gênero</th>
          <th *ngIf="movie.typeFilter == 3" scope="col">Avaliação</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let movie of movies">
          <td>{{ movie.title }}</td>
          <td>{{ movie. genres}}</td>
          <td >{{ movie. rating}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #notMovie>
    <div class="col-12">
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
      </svg>
      <div class="alert alert-primary d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
        <div>
          Filme não encontrado
        </div>
      </div>
    </div>
  </ng-template>


</div>

