<nav style="margin-top:10px;--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" style="text-decoration: none">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Filmes</li>
  </ol>
</nav>
<div class="row g-3">
  <div *ngIf="movies.length > 0" class="col-12">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Descrição</th>
          <th scope="col">Gênero</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let movie of movies">
          <td>{{ movie.title }}</td>
          <td>{{ movie. genres}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

